<!DOCTYPE html>
<html>
<head>
  <title>QuotesWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<% if current_user %>
	<p>Signed in as <%= current_user.name %>
	<br>
	<%= link_to "Sign Out", signout_path %>
<% else %>
	<%= link_to "Sign in with Twitter", "/auth/twitter" %>
<% end %>
</div>
<div>
<%= link_to "Got feedback? We'll love to hear from you.", new_feedback_path %>
<%= yield %>
</div>

</body>
</html>
